html {
    scroll-behavior: smooth;
}
body, ul, li, h1, h2, a{
margin:0;
padding:0;
font-family: Arial;
}
#header {
    background-color: #0276FD;
    opacity: 90% ;
    text-align: left;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    transition: 0.2s;
}

header h1 {
    color:White;
    padding: 6px;
    display: inline-block;
    border-radius: 36px;
    font-weight: bolder;
    font-size: 40px;
    position: relative;
    top: -20px;
    left: 45px;
}

header img {
    width: 100px;
    height: auto;
    display: inline-block;
    border-radius: 50%;
    padding: 3px;
    position: relative;
    top: 10px;
    left: 50px;
}
a.socials{
    display: inline-block;
    position: relative;
    
}

    .fa {
        padding: 20px;
        font-size: 30px;
        width: 30px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
      }
  
  
  
  .fa:hover {
    opacity: 0.7;
  }
  
  
  .fa-linkedin {
    background: #3B5998;
    color: white;
  }
  
  
  .fa-instagram {
    background: #3B5998;
    color: white;
  }
.banner {
    position: relative;
}   

.banner .middle {
    
    color:white;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%)

}
.banner h2 {
    font-size: 7vw;
    text-align: center;
}
.banner img {
    width: 100%;
    height: auto;
  }
  
  .banner .btn {
    position: absolute;
    width: 100%;
    height: auto;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #0276FD;
    display: inline-block;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    font-size: 4vw;
  }
  
  .banner .btn:hover {
    background-color: #4b4b4b ;
  }

nav {
    background-color: #4b4b4b;
    padding: 15px;
    position: sticky;
    top: 95px;
    text-align: center;
    margin:0 auto;
    z-index: 1;


}
nav ul {
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}
nav li {
    width:25%;
    display: inline-block;
    font-size:24px
}
nav li a{
    text-decoration: none;
    color: white;

}
nav li.first a{
    color: #0276FD;
}

h1.about-me {
   text-align: center;
   color: #0276FD;
   font-size: 45px ;

}


.column {
    float: left;
    width: 50%;
  }
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
 
.flip-box {
    background-color: transparent;
    width: 80%;
    height: 200px;
    perspective: 1000px; 
  }
  div.flip-box {
      padding: 3em;
      padding-top: 2em;
  }
  
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  
  .flip-box:hover .flip-box-inner {
    transform: rotatey(180deg);
  }
  
  
  
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
  }
  
  
  .flip-box-front {
    background-color: #4b4b4b;
    color: white;
    text-align: center;
    
  }
  .uw {
      width: 20%;
      height: auto;
      display: inline-block;
  }
  .EE {
      width:35%;
      height: auto;
      display: inline-block;
  }
  
  
  .flip-box-back {
    background-color: #0276FD;
    color: white;
    transform: rotateY(180deg);
  }
main {
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
}

article h2{
    color: #0276FD;
    font-size: 48px;
}
article p {
    line-height: 2em;
    color: #4b4b4b;
}
.images {
    text-align: center;
    margin:80px 0;
    white-space: nowrap;
}
.images li {
    display: inline-block;
    width:40%;
    margin: 20px 5%;
}
.images li img {
    max-width: 100%;
}
.contact {
    background: #f4f4f4;
    text-align: center;
    padding: 60px;
    color: #4b4b4b;
}
.contacth2 {
    font-size: 36px;

}
form input {
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 28px;
    border: 4px solid white;

}
footer {
    background:  #0276FD;
    text-align: center;
    padding: 10px;
    color: white;
}

/* pseudo classes */

nav li a:hover {
    text-decoration: underline;
    
}
.images li:hover{
    position: relative;
    top: -4px;
}
form input:focus {
    border:4px dashed #4b4b4b;
    outline: none;
}
form input:valid {
    border: 4px solid green;
}
article p::first-line {
    font-weight: bold;
    font-size: 1.2em;
}
